



<div class="container mt-5 d-flex justify-content-center ">
<div class="card" style="width: 18rem;">
  <img [src]="idproduct.url" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">{{idproduct.name}}</h4>
    <p class="card-text">{{idproduct.details}}</p>
    <h6 id="price" class="card-text  d-flex justify-content-end">{{idproduct.price}}€</h6>
    <a href="#" class="btn btn-primary d-flex justify-content-center" (click)="addToCart(idproduct)">Aggiungi al carrello</a>
  </div>
</div>
</div>
