<div class="container mt-4">
  <h2>Carrello</h2>
  <div *ngIf="!productsInCarrello.length" class="alert alert-danger mt-3" role="alert">
    Il tuo carrello è vuoto
  </div>
  <ol class="list-group list-group-numbered">
    <li routerLinkActive="active" class="list-group-item d-flex justify-content-between align-items-start"
      *ngFor="let prod of productsInCarrello; let i = index">
      <div class="ms-2 me-auto">
        <div class="fw-bold text-info ">{{ prod.name }}</div>{{ prod.price }} €
      </div>
      <span class="btn btn-danger my-auto fw-bold" (click)="rimuoviProd(i)">X</span>
    </li>
  </ol>

  <div class="mt-2 text-dark fw-bold text-center fs-3">
    <span class=""> Tot. </span > <span class="text-success fw-bold">€ {{ totaleCarrello }}</span>
  </div>

  <hr />

  <div class="card p-4 m-5" style="background-color: rgba(158, 255, 255, 0.295)">
    <h2>Completa i campi ed effettua l'ordine</h2>

    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="logIn(form)">
          <div class="form-group">
            <label for="nome">Nome completo</label>
            <input id="nome" required name="nome" ngModel class="form-control" type="text" #name="ngModel" />

            <div *ngIf="name.invalid && name.touched" class="alert alert-danger mt-1" role="alert">
              Campo obbligatorio
            </div>

            <div class="form-group">
              <label for="email">e-mail</label>
              <input id="email" required name="email" ngModel class="form-control" type="email" #cognome="ngModel" />
            </div>

            <div *ngIf="name.invalid && name.touched" class="alert alert-danger mt-1" role="alert">
              Campo obbligatorio
            </div>

            <div class="col-12">
              <button type="submit" [disabled]="form.invalid || !productsInCarrello.length"
                class="btn btn-primary mt-4">
                Invio
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
